/*------- estilos generales -----------*/
@font-face{
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.ttf');
  font-weight: 300 400 500 600 700;
}
@font-face{
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Light.ttf');
  font-weight: 300;
}
@font-face{
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Regular.ttf');
  font-weight: 400;
}
@font-face{
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Medium.ttf');
  font-weight: 500;
}
@font-face{
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-SemiBold.ttf');
  font-weight: 600;
}
@font-face{
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.ttf');
  font-weight: 700;
}

.w-15{
  width: 15%;
}

.w-20{
  width: 20%;
}

.w-40{
  width: 40%;
}

.w-70{
  width: 70%;
}

.w-90{
  width: 90%;
}

/*-------- estilos index ------------*/

.body-fondo{
  font-family: "Quicksand",Arial,sans-serif;
  background: url(../img/fondo.jpg);    
  background-attachment: fixed;
  height: 97vh; 
  width: 99%;
  background-position: center;
  background-repeat: no-repeat;    
}

.contenedor-buscador{
  background:rgba(54,95,149,0.8);
  width: 30%;
}

.contenedor-derecho{
  width: 70%;
}

.radio{
  overflow: hidden;
  background-color: #145BA4;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.radio-input{
  display: none;
}

.radio-label{
  width: 50%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  background-color: #145BA4;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  transition: background 0.2s;  
}

.radio-input:checked + .radio-label{
  background-color: #00A5D7;
}

.boton{
  background-color: #00A5D7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-weight: bold;
}

.icono{
  width: 15px;
  height: 15px;
}

.bg-claro{
  background-color: rgba(250,250,250,0.4);
}