/*------- reset margin-padding navegador -----------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

/*------- estilos generales -----------*/

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

/*-------- estilos index ------------*/

.body-fondo {
  background: url(../img/fondo.jpg);
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor-buscador {
  width: 30%;
  height: 100vh;
  background: rgba(54, 95, 149, 0.8);
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  padding: 15px 10px;
}

.contenedor-derecho {
  width: 70%;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px 15px;
}
